<input type="number" (input)="setSelectedMonth($event)">
<div class="calendarContainer">
	@for(weekDayName of ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]; track weekDayName){
		<div class="cell headerCell">{{ weekDayName }}</div>
	}


	@for(cell of cellData; track cell){
		<div 
			class="cell"
			[attr.data-id]="cell.getId()"
			[class.currentMonth]="cell.type == CellType.currentMonth"
			[class.prevMonthCell]="cell.type == CellType.previousMonth"
			[class.nextMonthCell]="cell.type == CellType.nextMonth"
			[class.currentDay]="cell.isToday"
			>{{ cell.day }}</div>
	}
</div>